<ul class="list">
  <li *ngFor="let item of activityList; trackBy: trackByFn">
    <div class="list-item">
      <input class="checkbox" type="checkbox" [(ngModel)]="item.isCrossed" />
      <span class="text" [ngClass]="{ crossed: item.isCrossed }">{{
        item.text
      }}</span>
      <button class="delete" (click)="deleteActivity(item.text)">Delete</button>
    </div>
    <p class="time">
      {{ item.dateCreated | fromNow }}
    </p>
  </li>
</ul>
