.crossed {
  text-decoration: line-through;
}
.list {
}
.list-item {
  display: flex;
}
.checkbox {
  width: 17px;
  height: 17px;
  margin-right: 15px;
}
.text {
  flex-grow: 1;
  font-size: 1.2em;
}
.delete {
  background-color: tomato;
}
.time {
  color: grey;
  text-align: right;
}
