<header>
  <h1>
    Welcome to my to do list
  </h1>
</header>
<div>
  <app-input (activity)="addActivity($event)"></app-input>
<app-list
  [activityList]="activityList"
  (delete)="deleteActivity($event)"
></app-list>
</div>
<footer>
  <h4>
    Developed by Rod P
  </h4>
</footer>
